<ion-header>
  <ion-toolbar>
    <ion-title>
        Vaso F 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Data da Germinação </ion-label>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime display-format="DD MMMM YYYY" min="2016" max="2020-10-31"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label> Tamanho da Planta </ion-label>
      <ion-input (NgModle)="tp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Peso </ion-label>
      <ion-input (NgModle)="p"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Peso Maserrado </ion-label>
      <ion-input (NgModle)="pm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Lavagem de Parede celular </ion-label>
      <ion-input (NgModle)="lp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Liguinina </ion-label>
      <ion-input (NgModle)="l"></ion-input>
    </ion-item>
  </ion-item>
  <ion-button expand="full" href="inicio">voltar para tela inicio</ion-button>
</ion-content>
